

<a href="#" class="btn btn-social btn-facebook">
    <span class="fa fa-facebook"></span> registrarme con Facebook
</a>
<a href="#" id="customBtn" class="btn btn-social btn-google">
    <span class="fa fa-google"></span> registrarme con Google
</a>
<a href="#" class="btn btn-social btn-reddit">
    <span class="fa glyphicon glyphicon-envelope"></span> registrarme con un Email
</a>
