<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Gomeet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="lightbox">

    <div class="container-fluid">
      
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>

  </body>
</html>
